[
   {fs_sync, [
      {default_handler, "../../handler.sh"}, % if specified, will be called on unhandled types
      {after_handler, "../../handler.sh"}, % if specified will be called after handled types
   ]},
   {fs_event, [
      {naive_rescan, 10000}, % rescan timeout in milli-seconds
      {symlinks, skip} % skip/follow, default skip
   ]}
].
