[
	{fs_sync, [

		% {Path, Script}. Script will be executed on unhandled file types as: Script Type File, after cwd to Path 
		% {default_handler, "../../example/handler.sh"},

		% {Path, Script}. Script will be executed after handlign known type as: Script Type File, after cwd to Path
		% {after_handler, "../../example/handler.sh"},

		% synthesize beam event on successful compilation (useful if naive fs events is used)
		% {synthesize_beam_event, true},

		% skip types (do not handle at all)
		{skip_types, ["lock", "bea#"]}
	]},
	{fs_event, [

		% rescan timeout in milli-seconds
		{naive_rescan, 10000},

		% skip/follow, default skip
		{symlinks, skip}
	]}
].
