[
	{fs_sync, [

		% if specified, will be called on unhandled types
		{default_handler, "../../handler.sh"},

		% if specified will be called after handled types
		{after_handler, "../../handler.sh"},

		% synthesize beam event on successful compilation (useful if naive fs events is used)
		{synthesize_beam_event, true}
	]},
	{fs_event, [

		% rescan timeout in milli-seconds
		{naive_rescan, 10000},

		% skip/follow, default skip
		{symlinks, skip}
	]}
].
